[core]
  editor = vi
[user]
  email = nicosommi@gmail.com
  name = nicosommi
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
