[core]
  editor = vi
[user]
  email = 1702755+nicosommi@users.noreply.github.com
  name = nicosommi
[init]
  templatedir = ~/.git_template
  defaultBranch = main
[alias]
	ctags = !.git/hooks/ctags
[url "git@github.com:"]
  insteadOf = https://github.com/
